.currentVideo{
    height: 50px;
    background:url(../../../imgs/currentVideo.gif) no-repeat 15px 18px #2570D3;
    margin: 0px auto;
    padding-left:30px;
}
.historyVideo{
    height:45px;
    background:url(../../../imgs/historyVideo.png) no-repeat 15px 11px #fff;          
    margin: 0px 10px;
    padding:0px 8px;
}
.historyVideo .fankuiIcoBtn{
    display:block!important;
}
.historyVideo .pingfenIcoBtn{
    display:block!important;
}
.fankuiIcoBtn{
    position: absolute;
    color: #2570D3;
    display: inline-block;
    height: 18px;
    line-height: 16px;
    border-radius: 9px;
    border: 1px solid #2570D3;
    cursor: pointer;
    width: 30px;
    right: 10px;
    top: 14px;
    text-align: center;
    display: none;
}
.pingfenIcoBtn{
    position: absolute;
    color: #2570D3;
    display: inline-block;
    height: 18px;
    line-height: 16px;
    border-radius: 9px;
    border: 1px solid #2570D3;
    cursor: pointer;
    width: 30px;
    right: 45px;
    top: 14px;
    text-align: center;
    display: none;
}
.currentVideo span {
    color:#fff;
}   
.unstartVideo{
    height:45px;        
    margin: 0px 10px;
    padding:0px 8px;
    background:url(../../../imgs/unstartVideo.png) no-repeat 15px 14px #fff;
}

.daiqueren{
    background:#EDF5FF;
}
.daiqueren i{
    display:none;
}

.clickCourseLi{
    border-bottom:3px solid #2570D3;
    color:#2570D3;
}

.greenClass{
    background:#33CC66;
}
.greenClass .fa-user{
    color:#fff;
}
.redClass{
    background:#F15151;
}
.redClass .fa-user{
    color:#fff;
}
.blueClass{
    background:#BDD4F2;
}
.blueClass .fa-user {
    color:#2570D3;
}

.sure{
    background:url(../../../imgs/zhibanExcept.png) no-repeat right top;
}
.refuse{
    background:url(../../../imgs/zhibanUnexcept.png) no-repeat right top;
}

.zhuHide{
    display:none!important;
}
.huHide{
    display:none!important;
}
.daoboConfuse{
    background: url(../../../imgs/zhibanUnexcept.png) #F9FAFC no-repeat right top!important;
}

.feedBackTitle{
    width: 120px;
    height: 30px;
    background: #F5F5FA;
    float: left;
    line-height: 30px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}
.feedbackAdd{
    width: 16px;
    height: 16px;
    background: #61CA44;
    color: #fff;
    text-align: center;
    line-height: 16px;
    margin: 7px 10px 7px 7px;
    border-radius: 2px;
    float: left;
}

.pingfenZhu{
    display: inline-block;
    width: 32px;
    height: 32px;
    position: absolute;
    left: -16px;
    top: 4px;
    background: url(../../../imgs/infoZhuImg.png) no-repeat;
}
.pingfenHu{
    display: inline-block;
    width: 32px;
    height: 32px;
    position: absolute;
    left: -16px;
    top: 4px;
    background: url(../../../imgs/infoHuImg.png) no-repeat;
}
.overShow{
    overflow: visible!important;
}
.addKoufenDiv{
    position: absolute;
    width: 240px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    padding: 5px 0px;
    right: 0px;
    top: 30px;
    background: #fff;
    z-index: 10;
    display: none;
}
.koufenNum{
    position: absolute;
    color: #EE5255;
    right: 20px;
}
.editorKoufenInfo{
    text-align: center;
    font-size: 16px;
    margin: 0px;
    color: #949FBC;
    cursor: pointer;
}
.editorKoufenInfo:hover{
    background: #F5F5FA;
}