<section class="content-header">
    <h1>课程列表</h1>
</section>
<section class="invoice">
    <div class="row">
        <div class="box" style="box-shadow: none;">
            <div class="box-header">
                <div class="row">
                    <div class="col-xs-2">
                        <select id="courseStaSelect" (change)="staChange()" class="form-control">
                            <option value="">全部</option>
                            <option value="0">未开始</option>
                            <option value="1">待排</option>
                            <option value="2">进行中</option>
                            <option value="3">待发布</option>
                            <option value="4">异常</option>
                            <option value="6">已发布</option>
                        </select>
                    </div>
                    <div class="col-xs-3 pull-right">
                        <div class="input-group">
                            <input type="text" ng-model="searchValue" class="form-control"
                             placeholder="搜索学校或课程名" (keyup.enter)="getCourseList()" [(ngModel)]="col_courseSva">

                            <span class="input-group-btn">
                                <button class="btn btn-default" (click)="getCourseList()" type="button">
                                    <i class="fa fa-fw fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 table-responsive">
            <div class="box-body table-responsive" style="padding:0px;padding-top: 10px;">          
                <table id="courseList" class="table table-hover display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th style="padding-top: 0px;">学期名称</th>
                            <th style="padding-top: 0px;">课程ID</th>
                            <th style="padding-top: 0px;">课程名称</th>                         
                            <th style="padding-top: 0px;">开课学校</th>
                            <th style="padding-top: 0px;">见面课次数</th>
                            <th style="padding-top: 0px;">专员</th>
                            <th style="padding-top: 0px;">状态</th>
                            <th style="padding-top: 0px;">更新时间</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
