<section class="content-header">
    <h1>见面课列表</h1>
</section>
<section class="invoice">
    <div class="row">
        <div class="box" style="box-shadow: none;">
            <div class="box-header">
                <div class="row">
                    <div class="col-xs-2">
                        <select class="form-control schoolListSel">
                            <option value="">请选择学校</option>
                            <option value={{school.schoolCode}} *ngFor="let school of mcl_schoolList">{{school.schoolName}}</option>
                        </select>
                    </div>
                    <div class="col-xs-2">
                        <select id="meetCourseStaSelect" (change)="staChange()" class="form-control">
                            <option value="">全部</option>
                            <option value="2">进行中</option>
                            <option value="3">待发布</option>
                            <option value="4">异常</option>
                            <option value="6">已发布</option>
                        </select>
                    </div>
                    <div class="col-xs-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text"  name="startTime" class="form-control" id="starttime" placeholder="开始时间">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text"  name="endTime" class="form-control"  id="endtime" placeholder="结束时间">
                        </div>
                    </div>
                    <div class="col-xs-4 pull-right">
                        <div class="input-group">
                            <input type="text" (keyup.enter)="getMeetCourseList()" [(ngModel)]="mcl_meetCourseSva" class="form-control" placeholder="见面课名称、直播ID、学校或教室编码">

                            <span class="input-group-btn">
                                <button class="btn btn-default" (click)="getMeetCourseList()" type="button">
                                    <i class="fa fa-fw fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 table-responsive">
            <div class="box-body table-responsive" style="padding:0px;padding-top: 10px;">          
                <table id="meetCourseList" class="table table-hover display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th style="padding-top: 0px;">见面课ID</th>
                            <th style="padding-top: 0px;">直播ID</th>
                            <th style="padding-top: 0px;">课程名称</th>
                            <th style="padding-top: 0px;">见面课名称</th>
                            <th style="padding-top: 0px;">主讲老师</th>
                            <th style="padding-top: 0px;">开始时间</th>
                            <th style="padding-top: 0px;">结束时间</th>
                            <th style="padding-top: 0px;">省区</th>
                            <th style="padding-top: 0px;">学校名称</th>
                            <th style="padding-top: 0px;">教室名称</th>
                            <th style="padding-top: 0px;">教室编号</th>
                            <th style="padding-top: 0px;">教室类型</th>
                            <th style="padding-top: 0px;">课程老师</th>
                            <th style="padding-top: 0px;">课程老师电话</th>
                            <th style="padding-top: 0px;">导播</th>
                            <th style="padding-top: 0px;">导播电话</th>
                            <th style="padding-top: 0px;">值班人</th>
                            <th style="padding-top: 0px;">值班人电话</th>
                            <th style="padding-top: 0px;">专员</th>
                            <th style="padding-top: 0px;">专员电话</th>    
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
