.kebiaoactive{
    border-bottom: 2px solid #2570D3!important;
}
.kebiaoBtn{
    width: 50%;
    border-right: 1px solid #ccc;
    float: left;
    background: #fff;
    height: 40px;
    padding-left: 20px;
    line-height: 40px;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}
.week8-current h2{
    color: #fff!important;
    background: #2570D3;
}
.weekmonDay{
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -23px;
}
.week8-click .weekmonDay{
    display: inline-block;
}
.weekBorder h2 i {
    color: #2570D3;
}
.week8-click {
    width:25%!important;
    padding: 0px 5px!important;
}
.week8-click .weekBorder {
    border:none!important;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.2);
}
.week8-current h2{
    height: 33px;
    line-height:12px;
}

.zhibanpeopleCheck{
    background: url(../../../imgs/zhibanCheck.png) no-repeat right top;
}
.weixinSend:hover{
    background: #ccc!important;
}
p.weekLive{
    width: 100%;
    position: relative;
    cursor: pointer;
    padding: 3px 8px;
    background: #F5F5FA;
    border-left: 4px solid #fff;
}
p.weekLive span{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: '微软雅黑';
    font-size: 12px;
    color: #939EBD;
}
.headerInfoCard{
    height: 60px;
    width:120px;
    padding:10px 20px;
    float: right;
    background: #F5F5FA;
    margin-left: 10px;
}
span.feedBackTItle{
    padding: 2px 3px;
    background: #2570D3;
    color: #fff;
    border-radius: 2px;
    display: block;
    width: 54px;
}
p.feedBackCon{
    color: #000;
    font-size: 12px;
    font-family: '微软雅黑';
    word-break: break-all;
    margin:5px 0px 10px;
}
div.feedBackfooter{
    padding: 0px;
    margin-top:5px;
    border: none;
    position: relative;
}